:root {
    --bg-color: linear-gradient(45deg, #252525, #000000);
    --table-color: var(--bg-color);

    --highlight-color: linear-gradient(22.5deg, rgb(0, 89, 255), rgb(78, 141, 214));

    --main-hover-color: linear-gradient(22.5deg, #343434, #2F2F2F);
    --main-color: linear-gradient(22.5deg, #2F2F2F, #272727);
    --secondary-color: linear-gradient(22.5deg, #272727, #252525);
    --tertiary-color: #151515;

    --text-color: white;
    --secondary-text-color: black;
}

html {
    height: 99%;
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100%;
    background: var(--bg-color);
    background-attachment: fi;
    
}

header {
    height: 5%;
}

main {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    min-height: 80%;
}

.table {
    width: 30%;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 35px black;
    margin-top: 0px;
    transition: ease-in-out 0.2s;
}

.table:hover {
    margin-top: -10px;
    background-color: #171717;
}

.table h1 {
    text-align: center;
    color: var(--text-color);
}

.task {
    margin: 5%;
    display: flex;
    background: var(--highlight-color);
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 0 15px black;
    transition: ease-in-out 0.2s;
}

.task.done {
    filter: brightness(50%) grayscale(100%);
}

.name {
    height: 70%;
    width: 80%;
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    padding: 5%;
    text-align: left;
    resize: none;
    box-shadow: 0 0 30px black;
    transition: ease-in-out 0.2s;
}

.name:hover {
    background: var(--main-hover-color);
}

.task button {
    min-height: 50%;
    width: 20%;
    border-radius: 30px;
    background: #00000000;
    border: none;
    padding: 0;
    color: var(--secondary-text-color);
    transition: ease-in-out 0.2s;
}

.task button:hover {
    color: var(--text-color);
}

.buttonAdd {
    margin-top: 5%;
    width: 80%;
    height: 50px;
    align-self: center;
    background: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px black;

    transition: ease-in-out 0.2s;
}

.buttonAdd:hover {
    box-shadow: 0 0 30px black;
    background: var(--main-color);
}

footer {
    height: 15%;
}

svg {
    width: 60%;
    height: 60%;
}